{% extends "base.html" %}

{% block title %} Cookies {% endblock %}

{% block contents %}
<div class="form-inline">
    <label for="cookies-search"> Search through cookies: </label>
    <input id="cookies-search" type="text" class="form-control search-tables" placeholder="Search..">
</div>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col"> # </th>
            <th scope="col"> Url </th>
            <th scope="col"> Key </th>
            <th scope="col"> Value </th>
            <th scope="col"> Collected </th>
        </tr>
    </thead>
    <tbody id="cookies-table">
        {% for cookie in cookies%}
        <tr class="wrap-word">
            <th scope="row" width="10%"> {{ loop.index }} </th>
            <td width="25%"> {{ cookie[1] }}</td>
            <td width="15%"> {{ cookie[2] }}</td>
            <td width="25%"> {{ cookie[3] }}</td>
            <td width="15%"> {{ cookie[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#cookies-search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#cookies-table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}