{% extends "base.html" %}

{% block title %} Cookies {% endblock %}

{% block contents %}
<div class="form-inline">
    <label for="logins-search"> Search through logins: </label>
    <input id="logins-search" type="text" class="form-control search-tables" placeholder="Search for a login">
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col"> # </th>
            <th scope="col"> Url </th>
            <th scope="col"> Key </th>
            <th scope="col"> Value </th>
            <th scope="col"> Collected </th>
        </tr>
    </thead>
    <tbody id="logins-table">
        {% for login in logins %}
        <tr class="wrap-word">
            <th scope="row" width="10%"> {{ loop.index }} </th>
            <td width="25%"> {{ login[1] }}</td>
            <td width="15%"> {{ login[2] }}</td>
            <td width="25%"> {{ login[3] }}</td>
            <td width="15%"> {{ login[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#logins-search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#logins-table tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
{% endblock %}