body {
    background-color: #f7f7f7;
}

div.container {
    background-color: white;
    padding: 15px;
}

.wrap-word {
    word-wrap: break-word;
    word-break: break-all;
}

.form-inline {
    margin-bottom: 10px;
}

.search-tables {
    margin-left: 20px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }

  .tab-content {
      padding: 20px;
  }